{% load staticfiles %}
{% static "" as baseURL %}
<!DOCTYPE html>
<html>
<head>
	<title>about the web</title>
	<link rel="stylesheet" type="text/css" href="{{baseURL}}about.css">
</head>
<body>
<center><h1>About the Meet-Up</h1></center>
<hr style="margin-top: 0;">
<section>
	<div class="card">
		<div class="text">
			<p>
			Meet-UP is a social networking service (also social networking site, or SNS or social media) is an online platform which people use to build social networks or social relations with other people who share similar personal or career interests, activities, backgrounds or real-life connections.
			</p>
			<p>Social networking is the use of internet-based social media sites to stay connected with friends, family, colleagues, customers, or clients. Social networking can have a social purpose, a business purpose, or both, through sites such as Facebook, Twitter, LinkedIn, and Instagram, among others.</p>
			<p>
				The internet changed the way people interact with each other as well as work culture, and those changes first arose on social media sites. That is why social networks for apps are so important.

Social media helps people establish better relationships with their family and friends, and now the networking sites also show their significance for apps.

That is why people spend a lot of their time online browsing social sites, and usage has only gone up with increase in the use of  smartphones and tablets in</p>
<p>
	Every second, thousands of people share relevant information about their profile or their needs and demands digitally, either by a blog comment, on their status, in various ways, and this can end up in generating insights and adding value to enterprises.

Thus, it is clear that social sites are vital for the development of a sound work plan that reflects on the acquisition of new customers and consequently increases the number of sales and downloads.

Companies can use these platforms differently and obtain numerous advantages and benefits. See the following main advantages of social sites for the expansion of your app.
</p>
<p>
	Meet-Up provides the same features that any other social media provided beside it, it provides some extra features such as, mail transfer and blocking of abusive content. you can send mails directly to your friends or any organisation and also you will be connected with your friends at 24x7.
	so just login with Meet-Up and make your life happy..... 
</p>
		</div>
		
	</div>
</section>

</body>
</html>