{% load staticfiles %}
{% static "" as baseURL %}
<html>
<head>
<meta charset="utf-8">
<title>Meet-up</title>
	<link rel="stylesheet" type="text/css" href="{{baseURL}}home.css">


</head>
<body>
<header>
		<div class="row">
			<ul class="sau">
			
				<li class="active"><a href="">HOME </a></li>
				<li><a href="login">Log-in </a></li>
				<li><a href="Sign-up">Sign-up</a></li>
				<li><a href="">Service</a></li>
				<li><a href="OurTeam">Team</a></li>
				<li><a href="">Help</a></li>
			</ul>
		</div>
		

		
  <div class="hero">
		
				<h1 align="center">Welcome to Meet-up..!</h1>
			<div class="button">
				<a href="login" class="btn btn-one">Log-in</a>
				<a href="Sign" class="btn btn-two">Sign-up</a>
			</div>
		</div>
</header>
</body>
</html>
