{% load staticfiles %}
{% static "" as baseURL %}
<html>
<head>
	<title>Our Teaam</title>
	<link rel="stylesheet" type="text/css" href="{{baseURL}}team.css">
</head>
<body>
<div class="team-section">
			<a href="home.html"><button style="padding: 10px; color: white; border-radius: 10px; background-color:#ab927b; float: right;"><--Back_To_Home</button></a>
	<h1>Our Team</h1>
		<h3 style="color: white;">click on pic for more info.</h3><br>
	<spam class="border"></spam>
<div class="ps">
	<a href="#p1"><img src="{{baseURL}}p1.JPeG" alt=""></a>
	<a href="#p2"><img src="{{baseURL}}p2.JPG" alt=""></a>
	<a href="#p3"><img src="{{baseURL}}p3.jpg" alt=""></a>
	<a href="#p4"><img src="{{baseURL}}p4.jpg" alt=""></a>
</div>
<div class="section" id="p1">
	<spam class="name">RIYA</spam>
	<spam class="border"></spam>
	<p>hii, i m riya...</p>
</div>
<div class="section" id="p2">
	<spam class="name">harshita</spam>
	<spam class="border"></spam>
	<p>hii, i m Harshita...</p>
</div>
<div class="section" id="p3">
	<spam class="name">Aditi</spam>
	<spam class="border"></spam>
	<p>hii, i m Aditi...</p>
</div>
<div class="section" id="p4">
	<spam class="name">Twinkle</spam>
	<spam class="border"></spam>
	<p>hii, i m Twinkle...</p>
</div>

</div>
</body>
</html>