<!DOCTYPE html>
<html>
<head>
	<title>PASSWORD RECOVERY</title>
	<style>
		.input [type="text"]
		{
			width:250px;
			border-top-style: unset;
			border-right-style: unset;
			background-color: transparent; 
			padding: 5px;
			color: white;

		}
		.input [type="submit"]
		{
			padding: 6px;
			width:120px;
			border-radius: 8px;
			background-color: orange;
			margin:60px;
			margin-top: 0px; 
		}
	</style>
</head>
<body bgcolor="black">
	<h1 style="color: white; padding-left: 480px; padding-top: 50px;"><u>Password Recovery</u></h1>
<form action="Send_pwd" style="padding-left: 480px; padding-top: 160px;">
	<div class="input">
	<input type="text" name="email" placeholder="Enter your meet-up Email" ><br><br>
	<input type="text" name="Email" placeholder="Enter your Email Address"><br><br>
	
	<input type="submit" name="send">
	</div>
</form>
</body>
</html>